/* Estilos Generales. */
body {
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
}
a.hpvblanco {
    color: white;
}
/* Estilos Reutilizables. */
.alinear {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.pointer{
    cursor: pointer;
}

/* Barra de Navegación.*/
.cont1 {
    background-color: #951d1d;
}
.colB, .colD, .colE, .colF, .colG, .colH, .colI{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colB:hover, .colD:hover, .colE:hover, .colG:hover, .colH, .colI:hover {
    filter: invert(100%);
}
.colF {
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.equis {
    cursor: pointer;
}
/*  Estilo Para Caja Blanca.*/
.cont2 {
    background-color: white;
    width: 70%;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
}
.cont2:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
/* Estilo Para tabla de Ventas. */
.cont4 {
    background-color: white;
    margin: 30px;
    border-radius: 5px;
}
.cont4:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.tituloRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
}
.cont4 .col {
    border: solid black 1px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Boton Agregar Venta. */
.btnAgg {
    margin: 20px;
    margin-left: 40px;
}
.formStyle label, .formStyle input {
    display: block;
}
#btnAggVenta2{
    margin: 10px;
}
#formulario {
    display: none;
}
.capture {
    height: 355px;
    width: 200px;
    border-radius: 10px;
}
.capture {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
figure {
    padding: 10px;
    height: 375px;
    width: 600px;
    background-color: gainsboro;
    border-radius: 10px;
}
.captureTexto {
    float: right;
    margin-right: 100px;
}
figure:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
#admin {
    border-radius: 50%;
    border: solid black 2px ;
    height: 40px;
    cursor: pointer;
}