/* Estilos Generales. */
body {
    background-color: black;
}
a{
    text-decoration: none;
    color: black;
}
a.hpvblanco {
    color: white;
}
/* Estilos Reutilizables. */
.alinear {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* Barra de Navegación.*/
.cont1 {
    background-color: #951d1d;
}
.colB, .colD, .colE, .colF, .colG, .colI{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colB:hover, .colD:hover, .colE:hover, .colF:hover, .colG:hover, .colI:hover {
    filter: invert(100%);
}
.colH {
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.equis {
    cursor: pointer;
}
/*  Estilo Para Caja Blanca.*/
.cont2 {
    background-color: white;
    width: 70%;
    margin: 20px 0px 20px 0px;
    border-radius: 5px;
}
.cont2:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
/* Noticia */
.noticia {
    width: 250px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    justify-items: center;
    padding: 10px 0px;
}
.noticia:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
/* Elementos de la noticia. */
.tituloNoticias{
    text-align: center;
}
#imgNoticia{
    width: 200px;
    height: 250px;
}
#textoNoticia{
    padding: 0px;
    background-color: yellow;
    width: 100%;
    text-align: center;
}
.descripcionNoticias{
    font-size: 15px;
    padding: 5px 25px;
    width: 100%;
}
.fechasNoticias{
    font-size: 13px;
    width: 100%;
    padding-left: 27px;
}
.ContenedorNoticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.SubNoticias{
    width: 270px;
}

.TextDescripcion{
    font-weight: 500;
}


/*OPCION VER MAS Y VER MENOS */

.opcionButtonVer{
    border: none;
    color: royalblue;
    background: none;
}